.erro {
    border: 1px solid red;
}

@keyframes piscar {
    0% {
        box-shadow: 0 0 15px grey;
    }
    100% {
        box-shadow: none;
    }
}

.efeito-piscar {
    animation: piscar 3s linear;
}